.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
    color: white;
}

.input-window {
    text-align: end;
    font-size: x-large;
}

.card-body {
    background-color: black;
}

.btn {
    color: white;
    background-color: blue;
}

.btn1 {
    color: white;
    background-color: red;
}